nav{
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    background: rgba(91, 132, 196);
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 570px;
}
body{
    font-family: sans-serif;
}
hr{
    background-color: rgba(91, 132, 196);
    color: rgba(91, 132, 196);
    border: none;
    height: 2px;
}
nav a {
    color: #f1f1f1;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    transition: background-color 0.3s ease-out 10ms;
}
nav a:hover:not(.active) {
    background-color: rgba(194, 210, 233,0.7);
}
.active{
    background-color: rgba(194, 210, 233,0.7);
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
}
nav li {
    list-style: none;
    float: left;
    width: 20%;
    min-width: 100px;
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
}

nav ul::after {
    content: "";
    display: block;
    clear: both
}
.logo{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.logo img{
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
}
.top{
    display: flex;
    flex-direction: row;
}
.container{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    
}
.container h1{
    margin-left: 21%;
}
.login_container{
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
}
.login_container img{
    width:50%;
    transform: scaleX(-1);
    border-top-left-radius: 5%;
    border-bottom-left-radius: 10%;
}
.customer{
    margin-left: 5%;
    width: 42.5%;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.email{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}
.password{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}
.companyname{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}
.customer .label{
    margin-left: 5%;
    height: 25px;
    width: 30%;
    border-right: 2px solid rgba(91, 132, 196);
}
.customer input{
    width: 60%;
    height: 25px;
    margin-right: 2%;
    margin-left: 2%;
}
.customer input[name="logout"]{
    margin-bottom: 10px;
}
.customer a{
    margin-left: 5%;
    color: rgbargba(91, 132, 196);
}
.new_customer{
    margin-left: 5%;
    /*margin-right: 5%;*/
    width: 42.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.new_customer .label{
    margin-left: 5%;
    height: 25px;
    width: 30%;
    border-right: 2px solid rgba(91, 132, 196);
}
.new_customer input{
    width: 60%;
    height: 25px;
    margin-right: 2%;
    margin-left: 2%;
}
.registerhere{
    color: rgba(91, 132, 196);
}

.ifalreadyaccountp{
    margin-left: 5%;
}
.welcome{
    margin-left: 5%;
    font-size: 20px;
}

